extends base

block content 
    div 
        div.pageName Professor
        div.professor__content
            img(src="/uploads/MY.jpg")
            div
                div MIN YOUNG KIM 
                div Assistant Professor 
                div Faculty Of Biotechnology 
                div Jeju National University 
                div Room 5144. Ara-1 dong. Jeju. Korea 690-756
                div Phone: +82-64-754-3349
                div Fax: +82-64-756-3351
                div Email: jeffmkim@jejunu.ac.kr
    div.separ
    div 
        div.pageName EDUCATION
        ul.education__content 
            li Research Associate. Department of Bioengineering, MIT, USA, 2010
            li Postdoctoral Associate. Department of Bioengineering, MIT, USA, 2007
            li Ph.D. Department of Veterinary Medicine (Toxicology), Seoul National University, Korea, 2002
    div.separ
    div 
        div.pageName AFFILIATIONS
        ul.affiliations__content 
            li American Association for Cancer Research
            li Society of Toxicology 
            li Genetic Toxicology Association 
            li Korean Society of Food Science and Nutrition
            li Korean Society for Food Science of Animal Resources
            li Korean Society Biochemistry and Molecular Biology
            li The Korean Society of Toxicology