extends base

block content 
    div
        div.pageName SCI 
        ul.sci__content
            li M.Y.Kim, R.Wattanawaraporn, J.Adams, L.J.Trudel, L.L.Woo, R.G.Croy, J.M.Essigmann and G.N.Wogan (2012) AFB1-induced mutagenesis of the gpt gene in AS52 cells, Environ. Mol. Mutagen., In Press.  
            li M.Y.Kim, M.W.Chao, W.Ye, J.Ge, L.J.Trudel, C.Belanger, P.L.Skipper, S.R.Tannenbaum and G.N.Wogan (2012) Genotoxicity of 2,6- and 3,5-Dimethylaniline in cultured mammalian cells: the role of reactive oxygen species, Toxicol. Sci., In Press.  
            li M.Y.Kim, C.H.Lim, L.J.Trudel, W.M.Deen and G.N.Wogan (2012) Delivery method, target gene structure and growth properties of target cells impact mutagenic responses to reactive nitrogen and oxygen species, Chem. Res. Toxicol., In Press.  
            li J.H.Kim and M.Y.Kim (2012) Continuous Anaerobic Incubation Enhances bioactive component accumulation and antioxidant activity in green tea, J. Agr. Sci. Tech., In Press.
            li M.Y.Kim (2012) Nitric oxide triggers apoptosis in A375 human melanoma cellstreated with capsaicin and resveratrol, Mol. Med. Report., 5(2), 585-591.
            li J.H.Kim and M.Y.Kim (2011) Effect of citrus waste substrate on the production of bopactive component, and antioxidant and antitumor activity of Grifola Frondosa, Life Sci. J., 8(3), 564-571.
            li J.H.Kim and M.Y.Kim (2011) Effect of citrus waste substrate on the production of flavor constituent of Grifola Frondosa, Life Sci. J., 8(3), 67-71.
            li D.S.Lee, S.C.Kim, D.H.Kim, J.H.Kim, S.P.Park, Y.C.Ryu, M.Y.Kim, S.K.Choi, K.Z.Riu and D.S.Lee (2011) Screening of Phellinus linteus, a Medicinal Mushroom for Anti-viral Activity, J. App. Biol. Chem., 54(3), 475-478.
            li M.Y.Kim (2011) Genotoxicity of Stereoisomers of 1,2,3,4-Diepoxybutane in the gpt Gene of Chinese Hamster Ovary AS52 Cells, Bull. Environ. Contam. Toxicol., 86(6), 587-590.
            li D.S.Lee, J.K.Woo, D.H.Kim, M.Y.Kim, S.K.Choi, J.H.Kim, S.P.Park, H.Y.Lee, K.Z.Riu and D.S.Lee (2011) Antiviral Activity of Methylelaiophylin, an α-Glucosidase Inhibitor, J. Microb. Biot., 21(3), 263-266.
            li P.L.Skipper, M.Y.Kim, H.-L. P. Sun, G.N.Wogan and S.R.Tannenbaum (2010) Monocyclic aromatic amines as  potential human carcinogens: old is new again. Carcinogenesis, 31(1), 50-58.
            li M.Y.Kim and M.H.Chung (2009) Modification of mutagenic activity of benzo[a]pyrene by trace elements in Ames   assay. Toxicol. Environ. Chem., 91(8), 1469-1476.
            li M.Y.Kim, L.J.Trudel and G.N.Wogan (2009) Apoptosis induced by capsaicin and resveratrol in colon carcinoma cells requires nitric oxide production and caspase activation. Anticancer Res., 29(10), 3733-3740.
            li C.Q.Li, M.Y.Kim, Luiz C. Godoya, Apinya Thiantanawata, L.J.Trudel and G.N.Wogan (2009) Nitric oxide activation of Keap1/Nrf2 signaling in human colon carcinoma cells. Proc. Natl. Acad. Sci. U.S.A., 106(34), 14547-14551.
            li M.Y.Kim and M.H.Cho (2009) Toxicity and Carcinogenicity of Ozone in Combination with 4-(N-Methyl-N-nitrosamino)-1-(3-pyridyl)-1-butanone and Dibutyl Phthalate in B6C3F1 Mice for 16 and 32 Weeks. Biomed. Environ. Sci., 22(3), 216-222
            li M.Y.Kim and M.H.Cho (2009) Tumorigenesis in B6C3F1 mice exposed to ozone in combination with 4-(N-methyl-N-nitrosamino)-1-(3-pyridyl)-1-butanone and dietary dibutyl phthalate. Toxcol. Ind. Health, 25(3), 189-195.
            li M.Y.Kim, X.Zhou, J.C.Delaney, C.Collins, P.C.Dedon, J.M.Essigmann and G.N.Wogan (2007) AlkB influences chloroacetaldehyde-induced mutagenic spectrum and toxicity in the pSP189 supF shuttle vector. Chem. Res. Toxicol., 20(8), 1075-1083.  
            li M.Y.Kim,N. Tretyakovaand G.N.Wogan (2007) Mutagenesis of the supF gene by stereoisomers of 1,2,3,4-diepoxybutane. Chem. Res. Toxicol., 20(5), 790-797.  
            li M.Y.Kim and G.N.Wogan (2006) Mutagenesis of the supF gene of pSP189 replicating in AD293 cells cocultivated with activated macrophages: Roles of nitric oxide and reactive oxygen species. Chem. Res. Toxicol., 19(11), 1383-1491.  
            li M.Y.Kim, M.Dong, P.C.Dedon and G.N.Wogan (2005) Effects of peroxynitrite dose and dose-rate on DNA damage and mutation in the supF shuttle vector. Chem. Res. Toxicol., 18(1), 76-86.  
            li M.Y.Kim, H.W.Kim, J.H.Park, J.S.Kim, H.Jin, S.H.Moon, K.J.Eu, H.S.Cho, G.Kang, Y.S.Kim, Y.C.Kim, H.Y.Kim, K.H.Lee and M.H.Cho (2004) Molecular analysis of hprt mutation in B6C3F1 mice  exposed to ozone alone and combined treatment of 4-(N-methyl-N-nitrosamino)-1-(3-pyridyl)-1-butanone and/or dibutyl phthalate for 32 and 52 weeks. J. Vet. Sci., 5(4), 379-385. 
            li M.Y.Kim, K.S.Song, G.H.Park, S.H.Chang, H.W.Kim, J.H.Park, H.Jin, K.J.Eu, H.S.Cho, G.Kang, Y.C.Kim and M.H.Cho (2004) B6C3F1 mice exposed to ozone with 4-(N-methyl-N-nitrosamino)-1-(3-pyridyl)-1-butanone and/or dibutyl phthalate showed toxicities through alterations of NF-kappaB, AP-1, Nrf2, and osteopontin. J. Vet. Sci., 5(2), 131-7.  
            li M.Y.Kim, G..Y.Yoo, W.H.Yoo, J.H.Choi, M.O.Bae, J.S.Kim, H.W.Kim, S.H.Moon, J.H.Kim, K.T.Han, C.H.Chae, M.S.Kim and M.H.Cho (2003) 4-Week inhalation toxicity, mutagenicity and immunotoxicity studies of Keum-Yeon-Cho (NosmoQ), tobacco substitute composition, in mice. Environ. Toxicol. Pharmacol., 13(1), 37-46. 
            li M.Y.Kim, Y.C.Kim and M.H.Cho (2002) Combined treatment of 4-(N-methyl-N-nitrosamino)-1- (3-pyridyl)-  1-butanone and dibutyl phthalate enhanced ozone-induced genotoxic effects in B6C3F1 mice. Mutagenesis, 17(4), 331-336. 
            li M.Y.Kim, J.W.Son, C.S.Choi, C.Chae, M.H.Lee and M.H.Cho (2001) Oviductural adenocarcinoma was observed in B6C3F1 female mice exposed to 0.5 ppm ozone. Vet. Hum. Toxicol., 43(6), 370-372. 
            li J.H.Kim, S.H.Kim, M.Y.Kim, M.K.Shin, M.Z.Fang, J.W.Son, J.H.Choi, M.O.Bae, J.S.Kim, H.W.Kim, S.R.Lee, M.H.Lee, S.C.Kwon, S.Y.Jung, S.M.Bae, G.S.Lee and M.H.Cho (2001) Biological effect of recombinant human granulocytes colony-stimulating factor on X-Ray irradiated mice with bone marrow transplantation. AsiaPac.J. Pharmacol., 15(1), 83-89. 
            li M.Y.Kim, J.W.Son, M.K.Shin, H.I.Kwak, M.O.Bae, J.H.Kim, M.Z.Fang, and M.H.Cho (2000) One month parenteral toxicity study of recombinant human basic fibroblast growth factor in dogs. Vet. Hum. Toxicol., 42(4), 234-235. 
            li M.K.Shin, B.S.Kim, W.Mar, M.Z.Fang, J.W.Son, M.Y.Kim, H.I.Kwak, M.O.Bae, T.H.Byun, S.Y.Park, B.H.Chun, J.H.Byun, K.H.Ahn, B.J.Lee and M.H.Cho (2000) Mutagenicity of recombinant antihemophilic factor VIII (GC-rAHF). Arzneimittel-Forschung, 50(3), 316-321. 
            li H.H.Shin, O.K.Kweon, M.Z.Fang, M.Y.Kim, H.I.Kwak, J.W.Son, J.H.Kim, M.O.Bae, K.Y.Kim and M.H.Cho (2000) Effects of Guamerin, urinary trypsin inhibitor(UTI), and combined therapy of Guamerin and UTI on cerulean induced acute pancreatitis rat model.Asia pac. J. Pharmacol., 14(1), 21-25.
            li M.Z.Fang, Y.C.Ahn, M.Y.Kim, J.H.Kim, J.W.Son, J.H.Choi, J.S.Kim, M.O.Bae, M.K.Shin, H.J.Lee, H.J.Youn, K.H.Jung, K.Y.Kang, C.H.Kim, S.J.Choi, K.S.Jang, J.H.Byun, and M.H.Cho (2000) Effects of MBRI 9901 on bone marrow and mutagenesis in gamma-ray irradiated mice. AsiaPac.J. Pharmacol., 14(1), 51-55.
            li G.Kong, M.Z.Fang, M.Y.Kim, H.I.Kwak, J.W.Son, J.H.Kim, M.O.Bae, T.H.Byun, S.Y.Park, B.H.Chun, J.H.Byun and M.H.Cho (2000) Effects of recombinant factor VIII (GC-rAHF) on temporary hemophilia guinea pig model. AsiaPac.J. Pharmacol., 14(1), 27-31.
            li W.Mar, K.N.Kim, E.W.Choi, M.Z.Fang, H.I.Kwak, M.Y.Kim, J.W.Son, M.K.Shin, M.O.Bae, J.H.Kim, H.J.Lee, T.H.Byun, S.Y.Park, B.H.Chun, J.H.Byun, G.H.Ahn, Y.J.Lee and M.H.Cho (2000) Pharmacokinetics and tissue distribution of B-domain deleted recombinant human factor VIII (GC-rAHF)  in rats. AsiaPac.J. Pharmacol., 14(1), 7-10.
    div.separ
    div
        div.pageName 한국연구재단 등재지
        ul.kopa__content
            li J.H.Kim, J.R.Choi and M.Y.Kim (2011) 감귤과피분말 및 건 표고버섯을 첨가한 돈육 소시지의 관능적 특성, 한국식품영양과학회, 40(11), 1623-1630.
            li J.H.Kim and M.Y.Kim (2011) 감귤과피분말을 첨가한 설기떡의 품질 특성, 한국식품영양과학회지, 40(7), 993-998.
            li S.K.Cho, Y.M.Kim, M.Y.Kim, D.S.Lee, J.H.Kim, S.P.Park, K.Z.Riu and D.S.Lee (2011) 감귤의 고미제거 효소인 limonoid UDP-glucosyltransferase, a Bitterness-reducing Enzyme, in E.coli. 한국식품저장유통학회지, 18(2), 208-211.
            li M.Y.Kim, K.S.Song, G.H.Park, H.W.Kim, J.H.Park, J.S.Kim,H.Jin, K.J.Eu, H.S.Cho, K.Kang, C.Chae, Y.S.Kim, Y.C.Kim, H.Y.Kim, G.Beck, N.Colburn, K.H.Lee and M.H.Cho (2004) Ozone inhalation with NNK and/or DBP induced cell cycle alterations via wild-type p53 instability in B6C3F1 mice. J. Toxicol. Pub. Hlth., 20(1), 71-82. 
            li M.Y.Kim, J.W.Son, M.K.Shin, M.O.Bae, H.W.Kim, J.H.Choi, J.S.Kim, S.H.Moon, J.H.Kim, S.R.Lee, J.H.Byun, T.H.Byun, J.H.Kim and M.H.Cho (2002) Safety evaluation of recombinant human factor  VIII(GC- rAHF). J. Toxicol. Pub. Hlth., 18(1), 87-98. 
            li M.Y.Kim, J.W.Son and M.H.Cho (2001) Genotoxicity in B6C3F1 mice following 0.5 ppm ozone inhalation. J. Toxicol. Pub. Hlth., 17(1), 1-6. 
            li M.Y.Kim, J.W.Son, M.K.Shin, M.O.Bae, J.H.Kim, M.Z.Fang, J.H.Choi, J.S.Kim, J.O.Moon, C.H.Lee and M.H.Cho (2000) Study for three-months subacute toxicity of water-soluble DDB derivative in beagle dogs. J. Toxicol. Pub. Hlth., 16(3), 239-253. 
            li M.K.Shin, J.W.Son, M.Y.Kim, M.Z.Fang, J.H.Kim, J.H.Choi, J.S.Kim, M.O.Bae, J.O.Moon, C.H.Lee and M.H.Cho (2000) Three months subacute toxicity of water soluble Dimethyl Dimethoxy Biphenylate derivative in rats. J. Toxicol. Pub. Hlth., 16(2), 151-161. 
            li M.Y.Kim, J.W.Son, M.Y.Bae, J.H.Kim, M.K.Shin, M.Z.Fang, K.Y.Kim, S.J.Choi, K.H.Jung and M.H.Cho (2000) Acute toxicity and antigenicity of Guamerin. J. Toxicol. Pub. Hlth., 16(2), 83-87. 
            li M.H.Chung, Y.G.Kim, T.S.Cho, H.J.Bae, M.O.Shin, S.Y.Kim, M.J.Kim, M.Y.Kim, S.B.Kim, H.S.Shin and B.C.Kwon (1997) A Survey of water pollution and the development of water treatment system on agricultural area. Korean J. Sanitation, 12(1), 65-74. 