header 
    div
        a(href="/") JNU MYK Lab.
    nav 
        ul 
            li 
                a(href="/") Home
            li 
                a(href="/professor") Professor
            li 
                a(href="/members") Members
            li 
                a(href="/publications") Publications
            li 
                a(href="/contact") Contact