header 
    div
        a(href="/") JNU MYK Lab.
    nav 
        ul 
            li 
                a(href="/") Home
            li
            li 
                a(href="/professor") Professor
            li
            li 
                a(href="/research") Research Area
            li
            li 
                a(href="/members") Members
            li
            li 
                a(href="/publications") Publications
            li
            li 
                a(href="/contact") Contact
            